/* Error: Expected expression.
 *    ,
 * 59 |                 margin-top: ;
 *    |                             ^
 *    '
 *   styles\components\_pricing.scss 59:29   @forward
 *   styles\components\_components.scss 2:1  @use
 *   styles\pages\_pricing.scss 1:1          @use
 *   styles\style.scss 2:1                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a    \2577 \a 59 \2502                  margin-top: ;\d\a    \2502                              ^\a    \2575 \a   styles\\components\\_pricing.scss 59:29   @forward\a   styles\\components\\_components.scss 2:1  @use\a   styles\\pages\\_pricing.scss 1:1          @use\a   styles\\style.scss 2:1                   root stylesheet";
}
